<div class="answer-wrapper">
    @if (IsMultichoice) {
    }
    else {

    }
    @ChildContent
</div>

@code {
    [Parameter] public bool IsMultichoice { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }
}
