<div class="is-chosen-answer-input" @onclick="()=>OnclickAction(IsSelected)">
    @if (IsMultichoice) {
        <label class="check-box-input" @(IsSelected ? "checked" : "" )>
            <input type="checkbox" name="@InputsGroupName">
            <div class="checkmark"></div>
        </label>
    } else {
        <input class="radio-input" type="radio" name="@InputsGroupName" @(IsSelected ? "checked" : "" ) />
    }
</div>

@code {
    [Parameter] public string InputsGroupName { get; set; }
    [Parameter] public bool IsMultichoice { get; set; }
    [Parameter] public bool IsSelected { get; set; }
    [Parameter] public Action<bool> OnclickAction { get; set; }
}
