.error-string {
    justify-self: center;
    font-family: Roboto;
    color: var(--red-del);
    font-size:18px;
}

.result-id-input {
    justify-self: center;
    margin-top: 60px;
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid var(--back-2);
    border-radius: 60px;
    font-size: 24px;
    outline: none;
}

    .result-id-input:focus {
        outline: 1px solid var(--primary);
        border-color: var(--primary);
    }
