.dialog-content {
    position: relative;
    padding: 30px;
    min-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.close-btn {
    position: absolute;
    right: 12px;
    top: 12px;
    background-color: var(--grey);
    height: 30px;
    padding: 5px;
    box-sizing: border-box;
    aspect-ratio: 1/1;
    border-radius: 50%;
    fill: white;
    cursor: pointer;
}

    .close-btn:hover {
        background-color: var(--red-del);
    }
