.save-btn {
    justify-self: center;
    align-self: center;
    margin-bottom: 10px;
    padding: 8px 22px;
    border-radius: 22px;
    background-color: var(--primary);
    font-family: Roboto;
    color: white;
    font-size: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    transition: all 0.12s ease-in;
}

    .save-btn svg {
        height: 28px;
        fill:none;
    }

        .save-btn path {
            stroke: white;
            stroke-width:2;
        }

    .save-btn:hover {
        background-color: var(--primary-hov);
        gap: 12px;
        padding: 8px 28px;
    }
