.top-label {
    position: fixed;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    background-color: var(--back);
    height: 40px;
    display: flex;
    justify-content: center;
    font-size: 28px;
    font-family: Roboto;
    z-index: 100;
}

.go-back-btn {
    position: absolute;
    left: 10%;
    padding: 2px 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    font-size: 24px;
    color: var(--grey);
    border-bottom: 2px solid transparent;
    cursor: pointer;
    transition: all 0.1s ease-in;
}

    .go-back-btn svg {
        height: 20px;
        fill: var(--grey);
    }

    .go-back-btn:hover {
        gap: 6px;
        border-color: var(--grey)
    }
