.content {
    width: 900px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-label {
    font-family: "Roboto";
    font-size: 30px;
    margin-top: 30px;
    color: #413d44;
}

.question-text-input {
    margin-top: 20px;
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid var(--back-2);
    border-radius: 60px;
    font-size: 24px;
}

    .question-text-input:focus {
        outline: 1px solid var(--primary);
        border-color: var(--primary);
    }

.bottom-btns-container {
    align-self: end;
    margin: auto 20px 10px 0;
    width: 250px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

    .bottom-btns-container div {
        font-size: 20px;
        padding: 6px 16px;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        font-family: Roboto;
        color: white;
        cursor: pointer;
        transition-duration: 0.08s;
    }

        .bottom-btns-container div:hover {
            transform: scale(1.04);
        }

.continue-btn {
    background-color: var(--primary)
}

.cancel-btn {
    background-color: var(--grey);
}
