<BaseDialog DialogId="@id" @ref="baseDialogRef">
    <div class="dialog-content">
        <input @bind="resultId" placeholder="Result id" name="@Guid.NewGuid()" class="result-id-input" />

        <p class="error-string">@errorMessage</p>
        <div class="bottom-btns-container">
            <button @onclick="Close">Cancel</button>
            <button @onclick="SaveNewResult">Add</button>
        </div>
    </div>
</BaseDialog>

@code {
    private readonly string id = "new-result-dialog";
    private BaseDialog baseDialogRef;
    private string errorMessage;
    private string resultId;

    private async Task Close() => await baseDialogRef.CloseAsync();
    public async Task Open() =>
        await baseDialogRef.OpenAsync();

    private async void SaveNewResult() {
        if (string.IsNullOrEmpty(resultId) || resultId.Length > 12 || resultId.Length < 3) {
            errorMessage = "Result id must be between 3 and 12 characters";
            return;
        }
        //check if any result with this id already exists
    }

}
