.test-publishing-contetnt {
    position: relative;
    padding: 20px;
    width:960px;
}

.close-dialog-btn {
    position: absolute;
    top: 8px;
    height: 30px;
    right: 20px;
    aspect-ratio: 1/1;
    color: var(--grey);
    cursor: pointer;
}

    .close-dialog-btn:hover {
        transform: scale(1.02);
        color: var(--red-del);
    }


