<a href="@Vm.OverviewLink" class="draft-test-view">
    <img class="image-cover" src="@ImgOperationsHelper.ImgUrl(Vm.ImagePath)" />
    <div class="top-container">
        @if (Vm.IsReady) {
            <label class="test-status">Ready to be published</label>
        }
        <div class="template-icon-wrapper">
            <DynamicComponent Type="Vm.Template.TemplateIconComponent()" />
        </div>
    </div>

    <label class="test-name">@Vm.Name</label>

    <div href="@Vm.OverviewLink" class="hover-overlay">
        Press To Overview
        <svg viewBox="0 0 320 512">
            <path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z" />
        </svg>
    </div>
</a>

@code {
    [Parameter]
    public DraftTestViewModel Vm { get; set; }
}
