
<div class="section-title">
    <label>Draft Tests (@DraftTestsCount)</label>
    <div>
        <button class="toggle-button" @onclick="ToggleSectionVisibility">
            @(IsSectionVisible ? "Hide" : "Show")
        </button>
    </div>
</div>

@if (IsSectionVisible) {
    <div class="test-vms-container">
        @if (TestsArray is not null && TestsArray.Length > 0) {
            @foreach (var draftTestVm in TestsArray) {
                <DraftTestViewComponent Vm="draftTestVm" />
            }

            @if (TestsArray.Length == TestPackageCount) {
                <div class="see-all-btn">See all</div>
            }
        }
        else {
            <label class="no-unpublished-test">You have no unpublished tests</label>
        }
    </div>
}


@code {
    [Parameter] public int DraftTestsCount { get; set; }
    [Parameter] public int TestPackageCount { get; set; }
    [Parameter] public DraftTestViewModel[] TestsArray { get; set; }
    private bool IsSectionVisible { get; set; } = true;

    private void ToggleSectionVisibility() =>
        IsSectionVisible = !IsSectionVisible;
}
