.dialog-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 40px;
    width: auto;
    position: relative;
}

.server-message {
    align-self: center;
    font-family: "Roboto";
    font-size: 18px;
    color: var(--red-del);
}


.close-btn {
    position: absolute;
    right: 12px;
    top: 12px;
    background-color: var(--grey);
    height: 30px;
    padding: 5px;
    box-sizing: border-box;
    aspect-ratio: 1/1;
    border-radius: 50%;
    fill: white;
    cursor: pointer;
}

    .close-btn:hover {
        background-color: var(--red-del);
    }

.test-name-info {
    font-family: Roboto;
    font-size: 26px;
    padding: 10px 120px;
}

.test-name-input {
    align-self: center;
    width: 90%;
    padding: 6px 10px;
    border: 3px solid var(--back-2);
    border-radius: 60px;
    font-size: 24px;
    outline: none;
}

    .test-name-input:focus {
        border-color: var(--primary);
    }


.continue-btn {
    align-self: center;
    width: fit-content;
    padding: 8px 26px;
    font-size: 20px;
    letter-spacing: 1px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--primary);
    color: var(--back);
    transition: background-color 0.3s, box-shadow 0.3s;
}

    .continue-btn:hover {
        background-color: var(--primary-hov);
    }

    .continue-btn.continue-inactive {
        background-color: var(--grey) !important;
        cursor: not-allowed;
    }
