.test-cover-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.test-cover-img {
    max-width: calc(120px + 21vw);
    min-width: 220px;
    max-height: calc(120px + 40vh);
    object-fit: contain;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgb(67, 58, 178, 0.10) 0px 0px 0px 1px;
    border-radius: 12px;
    margin-bottom: 6px;
}

.section-btn {
    width: 80%;
    min-width: 300px;
    height: 36px;
    background-color: var(--primary);
    border-radius: 6px;
    color: white;
    font-family: Roboto;
    font-size: 20px;
    cursor: pointer;
}

    .section-btn:hover {
        background-color: var(--primary-hov);
    }

.take-test-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.add-to-collecion-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
    box-sizing: border-box;
}

    .add-to-collecion-btn label {
        cursor: inherit;
    }

.collecion-btn-icon {
    height: 100%;
    aspect-ratio: 1/1;
    box-sizing: border-box;
    color: white;
    fill: none;
    padding: 4px;
}
