<div class="test-name">@TestName</div>
<label class="creatot-link">
    by <a href="/acc/@CreatorId">@CreatorUserName</a>
</label>

@code {
    [Parameter] public string TestName { get; set; }
    [Parameter] public string CreatorUserName { get; set; }
    [Parameter] public AppUserId CreatorId { get; set; }
}
