.dialog-content {
    width: 1300px;
    display: flex;
    flex-direction: column;
    align-items: start;
    position: relative;
}


.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 22px;
    padding: 2px;
    aspect-ratio: 1/1;
    cursor: pointer;
    fill: #c8c6cb;
    transition:all 0.08s ease-in;
}

    .close-btn:hover {
        fill: #9e9ba3;
        transform:scale(1.04);
    }

.dialog-title {
    align-self: center;
    font-size: 28px;
    margin-top: 4px;
    font-family: Roboto;
}

.top-input-zone {
    display: grid;
    grid-template-columns: 1fr 380px;
}

.text-input-area {
    display: flex;
    flex-direction: column;
}
