.stage-changing-btns {
    display: flex;
    flex-direction: row;
    align-self: center;
    gap: 20px;
    height: 42px;
    border-radius: 8px;
}

.back-btn {
    height: 100%;
    aspect-ratio: 1/1;
    padding: 4px;
    box-sizing: border-box;
    background-color: var(--grey);
    color: white;
    border-radius: inherit;
    cursor: pointer;
    transition:all 0.08s;
}

    .back-btn:hover {
        padding: 1px;
    }