
<ActionConfirmationDialog @ref="confirmationDialogRef"
                          ConfirmAction="DeleteConclusion"
                          ConfirmButtonText="Delete" />
@if (ConclusionId is null) {
    <div class="no-added-conclustion-title">
        Test Conclusion(Optional):
        <div class="add-conclustion-btn">
            Add
        </div>
    </div>
}
else {
    <div class="conclusion-added-title">
        <label>Test Conclusion Added</label>
        <div class="conclusion-actions-container">
            <button>Edit</button>
            <button @onclick='()=>confirmationDialogRef.Open("Do you really want to delete the test conclusion?")'>Delete</button>
        </div>
    </div>

}

@code {
    private ActionConfirmationDialog confirmationDialogRef;

    [Parameter]
    public TestConclusionId? ConclusionId { get; set; }
    private void EditConclusion() { }
    private void DeleteConclusion() {

    }
}
