.question-area-title {
    font-family: "Quicksand";
    font-weight: bold;
    font-size: 32px;
    display: block;
    margin-left: 100px;
    margin: 14px 40px;
}

.question-vms-container {
    display: flex;
    flex-direction: column;
}

.question-view-component {
    min-height: 120px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr auto;
    box-shadow: rgba(52, 56, 228, 0.10) 0px 2px 4px 0px, rgba(52, 56, 228, 0.10) 0px 2px 16px 0px;
}

.question-info {
    display: grid;
    grid-template-rows: 1fr auto;
}

.question-actions {
    align-self: center;
    height: 38px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

    .question-actions div {
        border-radius: 6px;
        cursor: pointer;
        box-sizing: border-box;
    }

.edit-question-btn {
    height: 100%;
    width: fit-content;
    padding: 6px 20px;
    background-color: var(--primary);
    font-family: Roboto;
    color: white;
    font-size: 22px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
    transition-duration: 0.2s;
}

    .edit-question-btn svg {
        height: 100%;
        aspect-ratio: 1/1;
    }

    .edit-question-btn:hover {
        background-color: var(--primary-hov);
    }

.delete-question-btn {
    height: 100%;
    aspect-ratio: 1/1;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid var(--red-del);
}

    .delete-question-btn svg {
        height: 90%;
        fill: var(--red-del);
    }
