.quesitions-visibility-btn {
    font-family: Roboto;
    text-decoration: underline;
    font-size: 20px;
    color: var(--grey);
    cursor: pointer;
}

    .quesitions-visibility-btn:hover {
        color: var(--primary);
    }

.question-vms-container {
    display: flex;
    flex-direction: column;
}

.question-vms-container-hidden {
    display: none;
}

.question-view-component {
    min-height: 120px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr auto;
    box-shadow: rgba(52, 56, 228, 0.10) 0px 2px 4px 0px, rgba(52, 56, 228, 0.10) 0px 2px 16px 0px;
}

.question-info {
    display: grid;
    grid-template-rows: 1fr auto;
}

.question-actions {
    align-self: center;
    height: 38px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.edit-question-btn {
    border-radius: 7px;
    cursor: pointer;
    box-sizing: border-box;
    height: 100%;
    width: fit-content;
    padding: 4px 20px;
    background-color: var(--primary);
    font-family: Roboto;
    color: white;
    font-size: 22px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6px;
    transition-duration: 0.2s;
}

    .edit-question-btn svg {
        height: 96%;
        aspect-ratio: 1/1;
    }

    .edit-question-btn:hover {
        background-color: var(--primary-hov);
    }

.delete-question-btn {
    height: 100%;
    aspect-ratio: 1/1;
    box-sizing: border-box;
    color: var(--red-del);
    cursor: pointer;
}

    .delete-question-btn path {
        stroke-width: 1.7;
    }

    .delete-question-btn:hover {
        transform: scale(1.02);
    }



.new-question-btn {
    margin: 10px 0px 0px auto;
    gap: 2px;
    padding: 6px 12px;
    border-radius: 5px;
    border: none;
    display: flex;
    align-items: center;
    background: var(--primary);
    color: white;
    font-size: 20px;
    font-family: Roboto;
    transition: inherit;
    transition: all 0.12s ease-in-out;
    cursor: pointer;
}


    .new-question-btn svg {
        height: 24px;
        width: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: inherit;
    }


    .new-question-btn:hover {
        background-color: var(--primary-hov);
    }

    .new-question-btn:active {
        transform: scale(0.92);
    }
