@inject TestsCreationDbOperationsService testsCreationDbOperationsService
@inject VokimiStorageService vokimiStorageService

<div class="test-cover">
    <img src="@ImgOperationsHelper.ImageUrlWithVersion(coverImagePath)" alt="Test Cover" />
</div>

<InputFile id="cover" class="form-control" OnChange="HandleFileChange" accept=".jpg,.png,.webp" hidden />
<label class="cover-error">@coverUploadingError</label>
<label for="cover" class="change-btn">Change</label>
<div class="remove-btn" @onclick="HandleCoverRemoving">Remove</div>

@code {


    private string coverUploadingError = string.Empty;

    private string coverImagePath = string.Empty;
    [CascadingParameter(Name = "TestId")] public DraftTestId TestId { get; set; }

    protected override async Task OnInitializedAsync() {
        await base.OnInitializedAsync();
        BaseDraftTest? test = await testsCreationDbOperationsService.GetDraftTestById(TestId);
        coverImagePath = test is null ? ImgOperationsHelper.DefaultTestCoverImg : test.MainInfo.CoverImagePath;


    }

    private async void HandleCoverRemoving() =>
    await HandleCoverUpdate(ImgOperationsHelper.DefaultTestCoverImg);

    private async Task HandleCoverUpdate(string path) {
        Err err = await testsCreationDbOperationsService.UpdateTestCover(TestId, path);
        if (err.NotNone()) {
            coverUploadingError = err.ToString();
        }
        else {
            coverImagePath = path;
            StateHasChanged();
        }
    }



    private async Task HandleFileChange(InputFileChangeEventArgs e) {
        var file = e.File;

        if (file is not null) {
            if (file.Size > BaseTestCreationConsts.MaxImageSizeInBytes) {
                coverUploadingError = $"File is too big. Max allowed size: {BaseTestCreationConsts.MaxImageSizeInMB}";
                return;
            }
            try {
                using (var stream = file.OpenReadStream(maxAllowedSize: BaseTestCreationConsts.MaxImageSizeInBytes)) {
                    var result = await vokimiStorageService.SaveDraftTestCover(TestId, stream);
                    result.Switch(
                        async path => { await HandleCoverUpdate(path); },
                        err => coverUploadingError = $"Error uploading cover: {err.Message}"
                    );

                }
            } catch (Exception ex) {
                coverUploadingError = $"Server error. Please try again later";
            }
        }
    }
}
