@model TestCreationQuestionsViewModel
<h1>Questions page</h1>

<form asp-action="Questions" asp-controller="TestCreation" method="post" id="questionsForm">
    <div id="questionsContainer">
        @for (int i = 0; i < Model.Questions.Count; i++)
        {
            <div class="questionBlock">
                <label>Question text:</label>
                <input type="text" class="form-control" name="Questions[@i].Text" required value="@Model.Questions[i].Text" />

                <div class="answersContainer">
                    @{
                        var answerOptions = Model.Questions[i].AnswerOptions.ToList();
                    }
                    @for (int j = 0; j < answerOptions.Count; j++)
                    {
                        <p>
                            Answer:
                            <input type="text" name="Questions[@i].AnswerOptions[@j].Key" value="@answerOptions[j].Key" required />
                            -
                            Points:
                            <input type="number" name="Questions[@i].AnswerOptions[@j].Value" value="@answerOptions[j].Value" required min="-90" max="90">
                        </p>
                    }
                    <button type="button" onclick="addNewAnswer(this, @i)">Add Answer</button>
                </div>
            </div>
        }
    </div>
    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
    {
        <p class="text-danger">@Model.ErrorMessage</p>
    }
    <button type="button" onclick="addQuestion()">Add Question</button>
    <button type="submit" class="btn btn-primary">Save</button>
    <button type="button" class="btn btn-primary" onclick="goToMain()">Go to main</button>
    <button type="button" class="btn btn-primary" onclick="goToResults()">Go to results</button>
</form>
<script>
    function addQuestion() {
        const questionsContainer = document.getElementById('questionsContainer');
        const questionIndex = questionsContainer.children.length;

        const questionBlock = document.createElement('div');
        questionBlock.classList.add('questionBlock');

        const questionLabel = document.createElement('label');
        questionLabel.textContent = "Question text:";
        questionBlock.appendChild(questionLabel);

        const questionInput = document.createElement('input');
        questionInput.setAttribute('type', 'text');
        questionInput.setAttribute('class', 'form-control');
        questionInput.setAttribute('name', `Questions[${questionIndex}].Text`);
        questionInput.setAttribute('required', '');
        questionBlock.appendChild(questionInput);

        const answersContainer = document.createElement('div');
        answersContainer.classList.add('answersContainer');

        const addAnswerButton = document.createElement('button');
        addAnswerButton.setAttribute('type', 'button');
        addAnswerButton.textContent = "Add Answer";
        addAnswerButton.onclick = function () { addNewAnswer(addAnswerButton, questionIndex) };
        answersContainer.appendChild(addAnswerButton);

        questionBlock.appendChild(answersContainer);
        questionsContainer.appendChild(questionBlock);
    }

    function addNewAnswer(element, questionIndex) {
        const answersContainer = element.parentElement;
        const answerIndex = answersContainer.children.length - 1;

        const answerHtml = `
                <p>
                    Answer: <input type="text" name="Questions[${questionIndex}].AnswerOptions[${answerIndex}].Key" value="" required/>
                    -
                    Points:  <input type="number" name="Questions[${questionIndex}].AnswerOptions[${answerIndex}].Value" value="" required min="-90" max="90">
                </p>
            `;
        const div = document.createElement('div');
        div.innerHTML = answerHtml.trim();
        answersContainer.insertBefore(div.firstChild, answersContainer.lastChild);
    }

    async function sendFormDataAndRedirect(redirectUrl) {
        const formData = new FormData(document.getElementById('questionsForm'));

        try {
            const response = await fetch('/TestCreation/Questions', {
                method: 'POST',
                body: formData,
                headers: {
                    'RequestVerificationToken': getAntiForgeryToken()
                }
            });

            if (response.ok) { window.location.href = redirectUrl; }
            else { alert('Error saving form:', response.status, response.statusText); }
        }
        catch (error) { console.error('Error:', error); }
    }
    function goToResults() { sendFormDataAndRedirect('/TestCreation/Results'); }
    function goToMain() { window.location.href = '/TestCreation'; }
    function getAntiForgeryToken() { return document.querySelector('input[name="__RequestVerificationToken"]').value; }

</script>
