@model TestCreationQuestionsViewModel
<h1>Questions page</h1>

<form asp-action="Questions" asp-controller="TestCreation" method="post" id="questionsForm">
    <div id="questionsContainer">
        @for (int i = 0; i < Model.Questions.Count; i++)
        {
            <div class="questionBlock">
                <label>Question text:</label>
                <input type="text" class="form-control" name="Questions[@i].Text" required value="@Model.Questions[i].Text" />

                <div class="answersContainer">
                    @{
                        var answerOptions = Model.Questions[i].AnswerOptions.ToList();
                    }
                    @for (int j = 0; j < answerOptions.Count; j++)
                    {
                        <p class="answerBlock">
                            Answer:
                            <input type="text" name="Questions[@i].AnswerOptions[@j].Key" value="@answerOptions[j].Key" required />
                            -
                            Points:
                            <input type="number" name="Questions[@i].AnswerOptions[@j].Value" value="@answerOptions[j].Value" required min="-90" max="90">
                            <button type="button" onclick="deleteAnswer(this)">Delete</button>
                        </p>
                    }
                    <button type="button" onclick="addNewAnswer(this, @i)">Add Answer</button>
                </div>
            </div>
        }
    </div>
    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
    {
        <p class="text-danger">@Model.ErrorMessage</p>
    }
    <button type="button" onclick="addQuestion()">Add Question</button>
    <button type="submit" class="btn btn-primary">Save</button>
    <button type="button" class="btn btn-primary" onclick="goToMain()">Go to main</button>
    <button type="button" class="btn btn-primary" onclick="goToResults()">Go to results</button>
</form>
<script>
    function addQuestion() {
        const questionsContainer = document.getElementById('questionsContainer');
        const questionIndex = questionsContainer.children.length;

        const htmlContent = `
                <div class="questionBlock">
                  <label>Question text:</label>
                  <input type="text" class="form-control" name="Questions[${questionIndex}].Text" required>
                  <div class="answersContainer">
                    <button type="button" onclick="addNewAnswer(this, ${questionIndex})">Add Answer</button>
                  </div>
                </div>
              `;

        questionsContainer.insertAdjacentHTML('beforeend', htmlContent);
    }
    function addNewAnswer(buttonElement, questionIndex) {
        const answersContainer = buttonElement.parentElement;
        const answerIndex = answersContainer.children.length - 1;
        const answerHtml = `
                <p class="answerBlock">
                    Answer: <input type="text" name="Questions[${questionIndex}].AnswerOptions[${answerIndex}].Key" value="" required/>
                    -
                    Points: <input type="number" name="Questions[${questionIndex}].AnswerOptions[${answerIndex}].Value" value="" required min="-90" max="90">
                    <button type="button" onclick="deleteAnswer(this)">Delete</button>
                </p>
            `;
        buttonElement.insertAdjacentHTML('beforebegin', answerHtml);
    }
    function deleteAnswer(deleteButton) {
        const questionsContainer = document.getElementById('questionsContainer');
        const answerBlock = deleteButton.closest('.answerBlock');
        const questionBlock = deleteButton.closest('.questionBlock');
        const questionIndex = Array.from(questionsContainer.children).indexOf(questionBlock);
        answerBlock.remove();
        updateAnswerIndexes(questionBlock, questionIndex);
    }

    function updateAnswerIndexes(questionBlock, questionIndex) {
        const answerBlocks = questionBlock.querySelectorAll('.answerBlock');
        answerBlocks.forEach((block, answerIndex) => {
            const inputKey = block.querySelector('input[type="text"]');
            const inputValue = block.querySelector('input[type="number"]');

            if (inputKey) {
                inputKey.name = `Questions[${questionIndex}].AnswerOptions[${answerIndex}].Key`;
            }

            if (inputValue) {
                inputValue.name = `Questions[${questionIndex}].AnswerOptions[${answerIndex}].Value`;
            }
        });
    }

    function updateAllIndexes() {
        const questionsContainer = document.getElementById('questionsContainer');
        const questionBlocks = questionsContainer.querySelectorAll('.questionBlock');

        questionBlocks.forEach((questionBlock, questionIndex) => {
            const inputText = questionBlock.querySelector('input[type="text"].form-control');
            const answersContainer = questionBlock.querySelector('.answersContainer');

            if (inputText) {
                inputText.name = `Questions[${questionIndex}].Text`;
            }

            updateAnswerIndexes(answersContainer, questionIndex);
        });
    }
    function goToResults() { window.location.href = '/TestCreation/Results' }
    function goToMain() { window.location.href = '/TestCreation'; }

</script>
