<div class="validating-container">
    <div class="problems-checking-label">
        Checking test  for problems...
    </div>
    @if (ProblemsList.Any()) {
        <div class="errors-list">
            @foreach (var e in ProblemsList) {
                <p class="test-error">@e</p>
            }
        </div>
        <div class="retry-btn">
            Retry
        </div>
    }
    else {
        <div class="no-problems-div">
            <label>No problems were found in the test. You can move on to the next stage</label>
            <div class="move-to-next-stage-btn"
                 @onclick="ChangeToTagsAddingAction">
                Continue
            </div>
        </div>
    }
</div>

@code {
    [Parameter] public List<TestPublishingProblemDto> ProblemsList { get; set; } = [];
    [Parameter] public Action ChangeToTagsAddingAction { get; set; }
    [Parameter] public Action RetryAction { get; set; }
}
