<div class="no-results-container">
    <h4>You haven't added any results yet</h4>
    <h2>Create several possible results and don't forget to save the changes</h2>
    <div class="add-new-res-btn" @onclick="CreateNewResultAction">Create First Result</div>
</div>

@code {
    [Parameter]
    public Action CreateNewResultAction { get; set; }
}
