.result-container {
    box-shadow: rgb(63, 66, 106, 0.12) 0px 2px 2px 0px, rgb(101, 106, 178, 0.1) 0px -2px 2px 0px;
    border-radius: 8px;
    margin-top: 8px;
    padding: 0;
}

.always-shown {
    width: 100%;
    padding: 0px 4px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr auto;
}

.content-toogle-btn {
    margin-right: 6px;
    width: 36px;
    padding: 0;
    border-radius: 30%;
    aspect-ratio: 1/1;
    color: var(--grey);
    transition: all 0.12s ease;
    cursor: pointer;
}

    .content-toogle-btn path {
        stroke-width: 2;
    }

    .content-toogle-btn:hover {
        color: var(--primary);
    }

    .content-toogle-btn:active {
        border-radius: 34%;
    }

.inputs-block-content {
    display: grid;
    grid-template-columns: 1fr auto auto;
    padding: 2px 10px;
    gap: 10px;
    box-sizing: border-box;
    animation: slideIn 0.4s forwards;
}

.hidden-content {
    display: none;
}

.remove-result-btn {
    align-self: center;
    margin-right: 10px;
    width: 36px;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s;
    position: relative;
    background-color: var(--grey);
}

    .remove-result-btn svg {
        width: 46%;
        fill: white;
    }

    .remove-result-btn:hover {
        background-color: var(--red-del);
    }

    .remove-result-btn:active {
        transform: scale(0.98);
    }

@keyframes slideIn {
    from {
        opacity: 0.1;
    }

    to {
        opacity: 1;
    }
}
