<div class="results-section-label">
    @Text
    <div class="collapse-all-btn" @onclick="CollapseAction">Collapse all</div>
</div>
@code {
    [Parameter] public string Text { get; set; }
    [Parameter] public Action CollapseAction { get; set; }
}
