


<EditForm Model="@form" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="UserName">Username:</label>
        <InputText id="UserName" class="form-control" @bind-Value="form.UserName" />

    </div>
    <div class="form-group">
        <label for="Email">Email:</label>
        <InputText id="Email" type="email" class="form-control" @bind-Value="form.Email" />
    </div>
    <div class="form-group">
        <label for="Password">Password:</label>
        <InputText id="Password" type="password" class="form-control" @bind-Value="form.Password" />
    </div>
    <div class="form-group">
        <label for="ConfirmPassword">Confirm Password:</label>
        <InputText id="ConfirmPassword" type="password" class="form-control" @bind-Value="form.ConfirmPassword" />
    </div>
    @if (form.AnyError())
    {
        <div class="alert alert-danger">@form.Err</div>
    }

    <button type="submit" class="btn btn-primary">Register</button>

    @* link to login form *@
</EditForm>


@code {
    RegistrationForm form = RegistrationForm.Empty();

    private void HandleValidSubmit()
    {
        Err err = form.IsValid();
        if (err.NotNone())
        {
            SubmitToServer(form);
        }
        else
        {
            StateHasChanged();
        }
    }

    private async Task SubmitToServer(RegistrationForm form)
    {
    }
}
