.form-content {
    width: 600px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: rgb(43, 90, 243, 0.24) 0px 3px 8px;
    border-radius: 10px;
    font-family: Roboto;
}

.form-title {
    font-family: inherit;
    align-self: center;
    margin-bottom: 10px;
    font-weight: bolder;
    font-size: 26px;
}

.form-content button {
    font-family: inherit;
    background-color: #1bee4c;
    color: white;
    font-size: 26px;
    font-weight: 500;
    outline: none;
    border: none;
    border-radius: 10px;
    padding:8px;
}

.form-content a {
    color: gray;
    font-size: 16px;
}
