.form-title {
    font-family: inherit;
    align-self: center;
    margin-bottom: 10px;
    font-weight: bolder;
    font-size: 26px;
}

.form-content button {
    font-family: inherit;
    background-color: #57ee1b;
    color: white;
    font-size: 26px;
    font-weight: 500;
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 8px;
}

    .form-content button:hover {
        background-color: #4acc16;
    }

.form-content a {
    color: gray;
    font-size: 16px;
}

