@inject AuthHelperService authHelperService
@inject NavigationManager navigationManager
@inject UsersDbOperationsService usersDbOperationsService

@page "/mytests"
@attribute [Authorize]

<PageTitle>New Test</PageTitle>
@rendermode InteractiveServer


<div class="tabs-container">
    <div class="tabs-switcher">
        <div class='@(isCurrentTabCollections? "": "active")' @onclick="()=>{isCurrentTabCollections=false;}">
            Tests Creation
        </div>
        <div class='@(isCurrentTabCollections? "active":"")' @onclick="()=>{isCurrentTabCollections=true;}">
            My Collections
        </div>
    </div>
    <div class="tab-content">
        @if (!isCurrentTabCollections) {
            <MyTestsCreationTab></MyTestsCreationTab>
        }
        else {
            <MyTestsCollectionTab></MyTestsCollectionTab>
        }
    </div>
</div>


@code {
    private bool isCurrentTabCollections = false;


    protected override async Task OnParametersSetAsync() {
        isCurrentTabCollections = false;

    }
}
