<div class="multi-choince-input-line">
    <div class="input-label">
        Is multiple choice:
        <CustomCheckbox @bind-Checked="FormData.IsMultipleChoice" />
    </div>
    <div class="multiple-choice-form-block @showMultipleChoiceCssClass">

        <label for="min-answers-count" class="input-label">
            Minimum answers count:
            <input id="min-answers-count" type="number" @bind="FormData.MinAnswersCount" />
        </label>

        <label for="max-answers-count" class="input-label">
            Maximum answers count:
            <input id="max-answers-count" type="number" @bind="FormData.MaxAnswersCount" />
        </label>

    </div>
</div>


@code {
    [Parameter]
    public QuestionEditingForm FormData { get; set; }

    private string showMultipleChoiceCssClass => FormData.IsMultipleChoice ? "show" : "hide";
}
