.multi-choince-input-line {
    align-self: center;
    width: 96%;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.show {
    animation: slideIn 0.5s forwards;
}

.hide {
    display: none !important;
}

.input-label {
    gap: 10px;
    font-family: Roboto;
    font-size: 22px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.multiple-choice-only-form-block {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.input-label input[type="number"] {
    width: 68px;
    box-sizing: border-box;
    background-color: var(--back-2);
    outline: none;
    height: 32px;
    border: 2px solid var(--back-2);
    border-radius: 40px;
    padding: 0 8px;
    font-size: 19px;
    text-align: center;
}

    .input-label input[type="number"]:focus {
        border-color: var(--primary);
    }

@keyframes slideIn {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}
