<div class="related-results-container">
    @foreach (var res in ResultNames) {
        <div class="chosen-result">
            <label>
                @res.Value
            </label>
            <svg class="remove-result-btn" @onclick="()=>RemoveResult(res.Key)" viewBox="0 0 448 512">
                <path d="M432 256c0 17.7-14.3 32-32 32L48 288c-17.7 0-32-14.3-32-32s14.3-32 32-32l352 0c17.7 0 32 14.3 32 32z" />
            </svg>
        </div>
    }
    @if (ResultNames.Count < 5) {
        <div class="add-new-result-btn" @onclick="OpenResultAssigningDialog">
            <svg viewBox="0 0 448 512">
                <path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z" />
            </svg>
            related result
        </div>
    }
</div>

@code {
    [Parameter] public Dictionary<DraftTestResultId, string> ResultNames { get; set; }
    [Parameter] public Action<Action> AssignResultAction { get; set; }

    private void RemoveResult(DraftTestResultId res) {
        ResultNames.Remove(res);
        StateHasChanged();
    }

    private void OpenResultAssigningDialog() =>
        AssignResultAction.Invoke(StateHasChanged);

}