@inherits LayoutComponentBase

<div class="page">
    <NavMenu />

    <div class="page-content">
        @Body
    </div>
    <h1>jaha</h1>
    <h1>jaha</h1>
    <h1>jaha</h1>
    <h1>jaha</h1>
    <h1>jaha</h1>
    <h1>jaha</h1>
    <h1>jaha</h1>
    <h1>jaha</h1>
    <h1>jaha</h1>
    <h1>jaha</h1>
    <h1>jaha</h1>
    <h1>jaha</h1>
    <h1>jaha</h1>
    <h1>jaha</h1>
    <h1>jaha</h1>
    <h1>jaha</h1>
    <h1>jaha</h1>
    <h1>jaha</h1>
    <h1>jaha</h1>
    <h1>jaha</h1>
    <h1>jaha</h1>
    <h1>jaha</h1>
    <h1>jaha</h1>
    <h1>jaha</h1>
    <h1>jaha</h1>
    <h1>jaha</h1>
    <h1>jaha</h1>
    <h1>jaha</h1>
    <h1>jaha</h1>
    <h1>jaha</h1>
    <h1>jaha</h1>
    <h1>jaha</h1>
    <h1>jaha</h1>
    <h1>jaha</h1>
    <h1>jaha</h1>
    <h1>jaha</h1>
    <h1>jaha</h1>
    <h1>jaha</h1>
    <h1>jaha</h1>
    <h1>jaha</h1>
    <h1>jaha</h1>
    <h1>jaha</h1>
    <h1>jaha</h1>
    <h1>jaha</h1>
    <h1>jaha</h1>
    <h1>jaha</h1>
    <h1>jaha</h1>
    <h1>jaha</h1>
    <h1>jaha</h1>
    <h1>jaha</h1>
    <h1>jaha</h1>
    <h1>jaha</h1>
    <h1>jaha</h1>
    <h1>jaha</h1>
    <h1>jaha</h1>
    <h1>jaha</h1>
    <h1>jaha</h1>
    <h1>jaha</h1>
    <h1>jaha</h1>
    <h1>jaha</h1>
    <h1>jaha</h1>
    <h1>jaha</h1>
    <h1>jaha</h1>
    <h1>jaha</h1>
    <h1>jaha</h1>
    <h1>jaha</h1>
    <h1>jaha</h1>
    <h1>jaha</h1>
    <h1>jaha</h1>
    <h1>jaha</h1>
    <h1>jaha</h1>
    <h1>jaha</h1>
    <h1>jaha</h1>
    <h1>jaha</h1>
    <h1>jaha</h1>
    <h1>jaha</h1>
    <h1>jaha</h1>
    <h1>jaha</h1>
    <h1>jaha</h1>
    <h1>jaha</h1>
    <h1>jaha</h1>
</div>
<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
