<div class="txt-and-img-answers-container">
    @foreach (var answer in Answers) {
        <div class="answer-display">
            @answer.Image
            @answer.Text
            <IsChosenAnswerInput InputsGroupName="@inputsGroupName"
                                 IsMultichoice="@IsMultichoice" />
        </div>
    }
</div>
@code {
    [Parameter] public IEnumerable<GenericTestTakingAnswerTextAndImageDto> Answers { get; set; }
    [Parameter] public bool IsMultichoice { get; set; }
    [Parameter] public HashSet<GenericTestAnswerId> SelectedAnswersRef { get; set; } = [];

    private string inputsGroupName;

    protected override void OnParametersSet() {
        inputsGroupName = $"answers-group-{Guid.NewGuid()}";
    }
}
