.dialog-content {
    width: 800px;
    display: grid;
    grid-template-rows: auto 1fr auto auto;
}

.choose-label {
    justify-self: center;
    margin-top: 6px;
    font-family: Roboto;
    font-size: 20px;
}

.possible-results-container {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    overflow-y: auto;
    max-height: 60vh;
}

.add-new-res-btn {
    margin-top: 10px;
    background-color: var(--primary);
    padding: 5px 20px;
    color: white;
    font-family: Roboto;
    font-size: 20px;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.12s ease;
}

    .add-new-res-btn:hover {
        padding: 5px 28px;
        background-color: var(--primary-hov);
    }

    .add-new-res-btn:active {
        transform: scale(0.97);
    }

.error-string {
    margin: 4px 0;
    justify-self: center;
    color: var(--red-del);
    font-size: 19px;
    font-family: Roboto;
}

.bottom-btns-container {
    justify-self: right;
    align-self: end;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto 10px 10px auto;
    gap: 10px;
    width: fit-content;
}

    .bottom-btns-container div {
        padding: 2px 0;
        width: 120px;
        font-family: Quicksand;
        text-align: center;
        border: 3px solid var(--primary);
        border-radius: 6px;
        color: var(--primary);
        font-size: 22px;
        font-weight: bolder;
        cursor: pointer;
        transition: all 0.16s ease-in-out;
    }

        .bottom-btns-container div:hover {
            letter-spacing: 2px;
        }

        .bottom-btns-container div:active {
            transform: scale(0.96);
        }
