.create-test-button {
    width: fit-content;
    background-color: var(--primary);
    padding: 10px 20px;
    font-family: "Roboto";
    color: white;
    font-size: 22px;
    border-radius: 5px;
    cursor: pointer;
}

    .create-test-button:hover {
        background-color: var(--accent);
    }

.test-vms-container {
    padding: 10px;
    box-sizing: border-box;
    gap: 30px;
    display: flex;
    align-items: start;
    flex-direction: row;
    height: 300px;
}

.see-all-btn {
}
