.form-container {
    position: absolute;
    top: calc(30vh + 40px);
    left: 50%;
    transform: translateX(-50%);
}
.form-content {
    width: 600px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: rgb(43, 90, 243, 0.19) 0px 10px 20px, rgb(43, 90, 243, 0.24) 0px 6px 6px;
    border-radius: 10px;
    font-family: Roboto;
}
