
<div class="answer-main-content">
    <label>Text of the answer</label>
    <textarea type="text" @onchange="@OnTextChanged" value="@AnswerText" />
</div>

@code {
    [Parameter]
    public string AnswerText { get; set; }

    [Parameter]
    public EventCallback<string> AnswerTextChanged { get; set; }

    private async Task OnTextChanged(ChangeEventArgs e) {
        AnswerText = (string)e.Value;
        await AnswerTextChanged.InvokeAsync(AnswerText);
    }
}
