<h3>QuestionCreation</h3>

text 

add image button

add audio button


is multiple

Choose answers type:
text
text with image
image

@code {
    [Parameter]
    public Action SaveQuestion { get; set; }
}
