@page "/acc"
@page "/acc/{PageStateParam}"
@inject NavigationManager NavigationManager

<PageTitle>Account</PageTitle>

Your account page

@switch (_pageState)
{
    @case PageState.Account:
        <Account />
        break;
    @case PageState.Authorization:
        <div class="form-container">
            <AuthorizationFormComponent />
        </div>
        break;
    @case PageState.Registration:
    <div class="form-container">
            <RegistrationFormComponent />

        </div>
        break;
}

@code {
    private enum PageState
    {
        Account,
        Authorization,
        Registration
    }

    private PageState _pageState = PageState.Authorization;

    [Parameter]
    public string PageStateParam { get; set; }

    protected override void OnParametersSet()
    {
        bool signedIn = false; //TODO

        if (signedIn)
            _pageState = PageState.Account;
        else if (PageStateParam?.ToLower() == "signup")
            _pageState = PageState.Registration;
        else
            _pageState = PageState.Authorization;
    }
}
