@page "/"

<PageTitle>Vokimi</PageTitle>

<img src="@ImageViewerController.ImgUrl("general/test.png")" alt="cover" height="300"/>
<div class="welcome-container">
    <h1>Welcome to Vokimi !</h1>
    <h3>Author: https://t.me/nb_SaYMooN</h3>
</div>
