@inject AuthHelperService authHelperService
@inject NavigationManager navigationManager
@page "/mytests"

<PageTitle>New Test</PageTitle>

Test creation page
@if (isLoggedIn)
{
    <button>New test</button>
    <h3>Your tests:</h3>
}
else
{
    <h2>To create tests you firstly need to login</h2>
}

@code {
    private bool isLoggedIn = false;

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    protected override async Task OnParametersSetAsync()
    {
        isLoggedIn=authHelperService.IsSignedIn(await authenticationStateTask);

    }
}
