@using Vokimi.Components.Pages.TestsCreation.all_questions_overview_components.question_edditing_dialog.editing_content_components.answers_zone_vms_lists


<div class="answers-container">
    @switch (AnswersType) {
        case AnswersType.TextOnly:
            <TextOnlyAnswerVmsList AnswersList="Answers.Select(x => x as TextOnlyAnswerForm).ToList()" />
            break;
        case AnswersType.ImageOnly:
            <ImageOnlyAnswerVmsList AnswersList="Answers.Select(x => x as ImageOnlyAnswerForm).ToList()" />
            break;
        case AnswersType.TextAndImage:
            <TextAndImageAnswerVmsList AnswersList="Answers.Select(x => x as TextAndImageAnswerForm).ToList()" />
            break;
        default:
            throw new NotImplementedException();
    }
</div>
@code {
    [Parameter] public AnswersType AnswersType { get; set; }
    [Parameter] public List<BaseAnswerForm> Answers { get; set; }
}
