@using Vokimi.Components.Pages.TestsCreation.all_questions_overview_components.question_edditing_dialog.editing_content_components.zones

<div class="multi-choince-input-line">
    Multiple choice:
    <BasicTooltip Text="If chosen, the sum of the points from the answers will be divided by the count of chosen answers" />
    <CustomCheckbox @bind-Checked="FormData.IsMultipleChoice" />
</div>
<div class="multiple-choice-form-block @showMultipleChoiceCssClass">
    <label for="min-answers-count" class="">Minimum Answers Count:</label>
    <input id="min-answers-count" type="number" @bind="FormData.MinAnswersCount" />
    <label for="max-answers-count" class="">Maximum Answers Count:</label>
    <input id="max-answers-count" type="number" @bind="FormData.MaxAnswersCount" />
    <label for="use-average-score" class="">Use Average Score:</label>
    <label class="multi-choice-line">
        Use Average Score:
        <span>tool tip</span>
        <CustomCheckbox @bind-Checked="FormData.UseAverageScore" />
    </label>
</div>

@code {
    [Parameter]
    public QuestionEditingForm FormData { get; set; }

    private string showMultipleChoiceCssClass => FormData.IsMultipleChoice ? "show" : "hide";
}
