
<label class="available-templates-label">
    Available templates
</label>
<div class="templates-container">
    @foreach (var template in Enum.GetValues(typeof(TestTemplate)).Cast<TestTemplate>()) {
        <TestTemplateViewComponent Template="template" OnClick="()=>OnTemplateSelected(template)" IsActive="SelectedTemplate==template" />
    }
</div>

@code {

    [Parameter]
    public TestTemplate? SelectedTemplate { get; set; }

    [Parameter]
    public Action<TestTemplate> OnTemplateSelected { get; set; }
}
<style>
    .test-template-icon {
        height: 100%;
        aspect-ratio: 1/1;
        color: var(--primary);
    }
</style>