.available-templates-label {
    text-align: center;
    font-family: "Roboto";
    font-size: 38px;
    color: var(--primary);
}

.templates-container {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
}
