<div class='template @(IsActive? "chosen-template" : "")' @onclick="OnClick">
    <div class="icon-name-container">
        <DynamicComponent Type="Template.TemplateIconComponent()" />
        <label class="name">
            @GetTempalteName(Template)
        </label>
    </div>


    <div class="features">
        @foreach (var f in Template.Features()) {
            <label>• @f</label>
        }
    </div>
</div>


@code {
    [Parameter]
    public TestTemplate Template { get; set; }
    [Parameter]
    public bool IsActive { get; set; }
    [Parameter]
    public Action OnClick { get; set; }

    private string GetTempalteName(TestTemplate template) =>
       template switch {
           TestTemplate.Generic => "Generic",
           TestTemplate.Knowledge => "Knowledge Test",
           _ => throw new ArgumentOutOfRangeException(nameof(template), template, null)
       };
}
