<div class="questions-vm-container">
    @foreach (var questionVM in questionVMs) {

    }
</div>
<div class="bottom-fixed">
    <div class="labels-container">
        <label class="questions-number">Number of questions: @questionVMs.Count()</label>
        <div class="possible-points-container">
            <label>Possible points:</label>
            <span>Min: @minPossiblePoints</span>
            <span>Max: @maxPossiblePoints</span>
        </div>
    </div>
    <div class="add-question-button">Add question</div>
</div>
@code {
    [Parameter] public DraftTestId TestId { get; set; }

    private IEnumerable<QuestionViewModel> questionVMs { get; set; } = [];
    private int minPossiblePoints { get; set; }
    private int maxPossiblePoints { get; set; }

    protected override async Task OnParametersSetAsync() {
        await base.OnParametersSetAsync();

    }
}
