.bottom-fixed {
    width: 900px;
    height: 100px;
    position: fixed;
    bottom: 20px;
    box-shadow: 0 4px 12px rgb(32, 32, 53, 0.16);
    border-radius: 20px;
    padding: 10px;
    display: grid;
    grid-template-rows: 1fr auto;
}

    .bottom-fixed .main-content {
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;
    }

.possible-points-container {
    display: grid;
    grid-template-rows: auto 1fr;
}

.min-max-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}

.back-link {
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    font-family: "Roboto";
    color: #95959a;
    cursor: pointer;
    padding: 6px;
}

    .back-link:hover {
        color: #7f7f82;
        text-decoration: underline;
    }

.add-question-button {
    margin-right: 20px;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: var(--primary);
    font-family: Roboto;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

    .add-question-button:hover {
        background-color: var(--primary-hov);
    }
