.form-container {
    width: 100%;
    padding: 0 calc(12% - 80px);
    box-sizing: border-box;
}
.top-input-zone{
    margin-top:40px;
}
.add-feedback-zone {
    display: flex;
    flex-direction: column;
    font-family: Roboto;
    font-size: 20px;
}

.add-feedback-label {
    display: flex;
    flex-direction: row;
    gap: 8px;
}



.multiple-choice-only-form-block {
    margin-left: 10px;
    border-left: 1px solid var(--grey);
    padding-left: 10px;
    display: flex;
    flex-direction: column;
}

    .multiple-choice-only-form-block label {
        margin-top: 10px;
    }

    .multiple-choice-only-form-block input {
        padding: 2px 6px;
        box-sizing: border-box;
        outline: none;
        border: 2px solid transparent;
        border-radius: 4px;
        background-color: var(--back-2);
        font-size: 20px;
    }

        .multiple-choice-only-form-block input:focus {
            border-color: var(--primary);
        }

.feedback-text-input-label input {
    width: 100%;
}



.feedback-chars-count-label input {
    width: 80px;
    text-align: center;
    margin-left: 10px;
}

.show-feedback {
    animation: slideIn 0.6s forwards;
}

.hide-feedback {
    display: none !important;
}

.saving-error {
    font-family: Roboto;
    color: var(--red-del);
    font-size: 18px;
    width: 100%;
    text-align: center;
}

@keyframes slideIn {
    from {
        transform: translateY(-10%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}
