@using Vokimi.Components.Pages.TestsCreation.question_editing_components.zones
@using Vokimi.Components.Pages.TestsCreation.page_states.shared_components


@inject TestsCreationDbOperationsService testsCreationDbOperationsService
@inject VokimiStorageService vokimiStorageService

@if (!string.IsNullOrEmpty(questionFetchingError)) {
    <p class="error-line">
        @questionFetchingError
    </p>
}
else {
    <div class="dialog-content">
        <TestCreationPageStateTopLabel LabelText="Question Editing" BackToOverviewAction="BackToOverviewAction" />
        <form class="form-content" @onsubmit="SaveData" name="formData">
            <div class="top-inputs-zone">
                <TextAndImageMainInputs @bind-Text="formData.Text"
                                        @bind-ImagePath="formData.ImagePath"
                                        SaveImgFunc="ImgSavingFunc"
                                        TextInputLabel="Text of the question:" />

            </div>
            <div class="shuffle-answers-input-line">
                Shuffle Answers:
                <BasicTooltip Text="Shuffle Answers" />
                <CustomCheckbox @bind-Checked="formData.ShuffleAnswers" />
            </div>

            <IsMultipleChoiceZone FormData="formData" />

            <AnswersZone Answers="@formData.Answers" AnswersType="@formData.AnswersType" QuestionId="@QuestionId" />
            @if (!string.IsNullOrEmpty(savingError)) {
                <p class="error-message">
                    <svg viewBox="0 0 24 24" fill="none">
                        <path d="M5.32171 9.6829C7.73539 5.41196 8.94222 3.27648 10.5983 2.72678C11.5093 2.42437 12.4907 2.42437 13.4017 2.72678C15.0578 3.27648 16.2646 5.41196 18.6783 9.6829C21.092 13.9538 22.2988 16.0893 21.9368 17.8293C21.7376 18.7866 21.2469 19.6548 20.535 20.3097C19.241 21.5 16.8274 21.5 12 21.5C7.17265 21.5 4.75897 21.5 3.46496 20.3097C2.75308 19.6548 2.26239 18.7866 2.06322 17.8293C1.70119 16.0893 2.90803 13.9538 5.32171 9.6829Z" stroke="currentColor" stroke-width="1.5" />
                        <path d="M11.992 16H12.001" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M12 13L12 8.99997" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>@savingError
                </p>
            }
            <SaveButton Onclick="SaveData" Text="Save Changes" />
        </form>
    </div>
}

@code {
    private string questionFetchingError = "Error";
    private string savingError = string.Empty;
    [SupplyParameterFromForm]
    public QuestionEditingForm formData { get; set; }

    [Parameter] public DraftTestQuestionId QuestionId { get; set; }
    [Parameter] public Action BackToOverviewAction { get; set; }
    [Parameter] public Action OpenResultCreatingDialog { get; set; }

    protected override async Task OnParametersSetAsync() {
        DraftGenericTestQuestion? question = await testsCreationDbOperationsService.GetDraftGenericTestQuestionById(QuestionId);
        if (question is null) {
            questionFetchingError = "Question not found";
            return;
        }
        formData = QuestionEditingForm.FromDraftTestQuestion(question);
        questionFetchingError = "";
    }

    private async void SaveData() {
        savingError = string.Empty;
        Err formErr = formData.Validate();

        if (formErr.NotNone()) {
            savingError = formErr.Message;
            return;
        }

        Err err = await testsCreationDbOperationsService.UpdateDraftTestGenericQuestion(QuestionId, formData);
        if (err.NotNone()) {
            savingError = err.Message;
            return;
        }
        await vokimiStorageService.ClearUnusedDraftTestQuestionImages(QuestionId, formData.ImagePath);
        if (formData.AnswersType.HasImage()) {
            var imageKeys = formData.Answers.Select(x => (x as IAnswerFormWithImage).ImagePath);
            await vokimiStorageService.ClearUnusedDraftTestAnswerImagesForQuestion(QuestionId, imageKeys);
        }
    }
    private string imgSessionKey = Guid.NewGuid().ToString();

    private async Task<OneOf.OneOf<string, Err>> ImgSavingFunc(Stream imgStream) =>
       await vokimiStorageService.SaveDraftTestQuestionImage(imgStream, QuestionId, imgSessionKey);
}
