.dialog-content {
    width: 1300px;
    display: grid;
    grid-template-rows: auto 1fr;
}

.dialog-header {
    position: fixed;
    box-sizing: border-box;
    background-color: var(--back);
    height: 40px;
    width: inherit;
    display: flex;
    justify-content: center;
    font-size: 28px;
    font-family: Roboto;
    z-index: 14;
}

.go-back-btn {
    position: absolute;
    left: 30px;
    padding: 2px 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    font-size: 24px;
    color: var(--grey);
    border-bottom: 2px solid transparent;
    cursor: pointer;
    transition: all 0.1s ease-in;
}

    .go-back-btn svg {
        height: 20px;
        fill: var(--grey);
    }

    .go-back-btn:hover {
        gap: 6px;
        border-color: var(--grey)
    }

.form-content {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    z-index: 12;
}



.top-input-zone {
    display: grid;
    grid-template-columns: 1fr 380px;
}

.text-input-area {
    display: flex;
    flex-direction: column;
}

.error-message {
    align-self: center;
    color: var(--red-del);
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 22px;
    font-family: Roboto;
}

    .error-message svg {
        height: 28px;
        color: var(--red-del);
    }
