.dialog-content {
    width: 1300px;
    display: grid;
    grid-template-rows: auto 1fr;
}





.form-content {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    z-index: 12;
}



.top-input-zone {
    display: grid;
    grid-template-columns: 1fr 380px;
}

.text-input-area {
    display: flex;
    flex-direction: column;
}

.error-message {
    align-self: center;
    color: var(--red-del);
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 22px;
    font-family: Roboto;
}

    .error-message svg {
        height: 28px;
        color: var(--red-del);
    }
