
.results-editing-form {
    width: 100%;
    padding: 50px calc(12% - 80px);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.results-section-label {
    margin: 6px 0;
    width: 100%;
    box-sizing: border-box;
    padding-left: 20px;
    font-family: Roboto;
    font-size: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.collapse-all-btn {
    font-size: 21px;
    color: var(--grey);
    cursor: pointer;
}

    .collapse-all-btn:hover {
        text-decoration: underline;
    }

.new-result-btn {
    align-self: end;
    background: var(--primary);
    padding: 10px 20px;
    border-radius: 6px;
    font-family: Roboto;
    color: white;
    cursor: pointer;
}

    .new-result-btn:hover {
        background: var(--primary-hov);
    }

.result-name-input-label {
    font-family: Roboto;
    font-size: 20px;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 8px;
    margin: 4px 6px;
    box-sizing: border-box;
}

    .result-name-input-label input {
        outline: none;
        border: 2px solid transparent;
        background-color: var(--back-2);
        border-radius: 6px;
    }

        .result-name-input-label input:focus {
            border-color: var(--primary);
        }
