
.results-editing-form {
    width: 100%;
    padding: 50px calc(12% - 80px);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.new-result-btn {
    align-self: end;
    background: var(--primary);
    font-family: Roboto;
    color: white;
    cursor: pointer;
}

    .new-result-btn:hover {
        background: var(--primary-hov);
    }

.result-id-label {
    font-family: Roboto;
    font-size: 22px;
    margin-left: 14px;
    display: flex;
    align-items: center;
}

.result-id-input-label {
    font-family: Roboto;
    font-size: 20px;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 8px;
    margin: 4px 6px;
    box-sizing: border-box;
}

    .result-id-input-label input {
        outline: none;
        border: 2px solid transparent;
        background-color: var(--back-2);
        border-radius: 6px;
    }

        .result-id-input-label input:focus {
            border-color: var(--primary);
        }
