.page-state-content {
    margin: 40px;
    width:100%;
}
.color-picker {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.default-colors {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.color-swatch {
    width: 30px;
    height: 30px;
    border: 1px solid #000;
    cursor: pointer;
}

.custom-color {
    margin-bottom: 10px;
}

.chosen-color {
    display: flex;
    align-items: center;
}

    .chosen-color .color-swatch {
        margin-left: 10px;
    }