@using Vokimi.Components.Pages.TestsCreation.page_states.shared_components
@using Vokimi.Components.Pages.TestsCreation.styles_editing_components

<TestCreationPageStateTopLabel LabelText="Styles Editing" BackToOverviewAction="BackToOverviewAction" />
<form class="styles-editing-form" name="formData" @onsubmit="HandleSubmit">
    <AccentColorPicker @bind-ChosenAccentColor="formData.AccentColor" />
    <ArrowTypeChoosingComponent @bind-ChosenType="formData.ArrowsType" />
    <button class="save-btn" type="submit">Save</button>
</form>


@code {
    [Parameter] public Action BackToOverviewAction { get; set; }

    private TestStylesEditingForm formData { get; set; } = new();
    protected override async Task OnInitializedAsync() {
        //fetch form data from db
        formData = TestStylesEditingForm.Default;
    }

    private void HandleSubmit() {
    }
}
