@using Vokimi.Components.Pages.TestsCreation.test_overview_areas

@rendermode InteractiveServer


<div class="state-container">
    <div class="main-info-and-cover-section">
        <div class="main-info-area">
            <label class="area-title">Test Main Info</label>
            <MainInfoAreaContent MainInfoDto="TestDto.MainInfo"
                                 GoToMainInfoEditing="() => ChangePageState.InvokeAsync(TestCreationPageState.MainInfoEditing)" />
        </div>
        <div class="test-cover-area">
            <label class="area-title">Test Cover</label>
            <TestCoverAreaContent Vm="new TestCoverAreaContentViewModel(TestDto.MainInfo.CoverImagePath,TestDto.MainInfo.Id, TestDto.Id)" />
        </div>
    </div>

    <div class="questions-area">
        <label class="question-area-title">Test Questions (@TestDto.Questions.Count)</label>

        <QuestionsAreaContent Questions="TestDto.Questions"
                              NewQuestionAction="NewQuestionAction"
                              GoToQiestionsOverview="() => ChangePageState.InvokeAsync(TestCreationPageState.AllQuestionsOverview)"
                              EditQuestionAction="EditQuestionAction"/>

    </div>
    <div class="conclusion-area">
        Add Test Conclusion(Optional)
        <button>Add</button>
    </div>
    <div class="styles-area">
        Change Test Styles(Optional)
        <button>Change</button>
    </div>
</div>

@code {

    [Parameter] public Action NewQuestionAction { get; set; }
    [Parameter] public Action<DraftTestQuestionId> EditQuestionAction { get; set; }
    [Parameter]
    public DraftGenericTestDto TestDto { get; set; }
    [Parameter]
    public EventCallback<TestCreationPageState> ChangePageState { get; set; }

    protected override void OnParametersSet() {
        base.OnParametersSet();
    }




}
