.state-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: calc(120px + 82vw);
}

.main-info-and-cover-section {
    height: fit-content;
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 560px;
    padding-bottom: 20px;
    border-bottom: 2px solid #ccd4d5;
}


.area-title {
    align-self: center;
    height: fit-content;
    justify-content: center;
    font-family: "Quicksand";
    font-weight: bold;
    font-size: 26px;
    margin-bottom: 10px;
}

.main-info-area,
.test-cover-area {
    display: flex;
    flex-direction: column;
    align-items: center;
}
