@using Vokimi.Components.Pages.TestsCreation.test_overview_components.dialogs
@using Vokimi.Components.Pages.TestsCreation.test_overview_components.overview_areas


@rendermode InteractiveServer

<NewQuestionCreationDialog @ref="@questionCreationDialog" TestId="@TestDto.Id" />


<div class="state-container">
    <div class="main-info-and-cover-section">
        <div class="main-info-area">
            <label class="area-title">Test Main Info</label>
            <MainInfoAreaContent MainInfoDto="TestDto.MainInfo"
                                 GoToMainInfoEditing="ChangePageStateToMainInfoEditing" />
        </div>
        <div class="test-cover-area">
            <label class="area-title">Test Cover</label>
            <TestCoverAreaContent Vm="new TestCoverAreaContentViewModel(TestDto.MainInfo.CoverImagePath,TestDto.MainInfo.Id, TestDto.Id)" />
        </div>
    </div>

    <div class="questions-area">
        <label class="question-area-title">Test Questions (@TestDto.Questions.Count)</label>

        <QuestionsAreaContent Questions="TestDto.Questions"
                              NewQuestionAction="()=>questionCreationDialog.Open()"
                              EditQuestionAction="ChangePageStateToQuestionEditing" />

    </div>
    <div class="results-area">
    </div>
    <ConclusionAreaContent ConclusionId="TestDto.ConclusionId" />
    <div class="styles-area">
        Change Test Styles(Optional)
        <button>Change</button>
    </div>
</div>

@code {
    private NewQuestionCreationDialog questionCreationDialog { get; set; }


    [Parameter] public DraftGenericTestDto TestDto { get; set; }
    [Parameter] public Action ChangePageStateToMainInfoEditing { get; set; }
    [Parameter] public Action<DraftTestQuestionId> ChangePageStateToQuestionEditing { get; set; }

    protected override void OnParametersSet() {
        base.OnParametersSet();
    }

}
