@using Vokimi.Components.Pages.TestsCreation.test_overview_components.overview_areas
@using Vokimi.Components.Pages.TestsCreation.test_overview_components.dialogs

@rendermode InteractiveServer


<div class="state-container">
    <div class="main-info-and-cover-section">
        <div class="main-info-area">
            <label class="area-title">Test Main Info</label>
            <MainInfoAreaContent MainInfoDto="TestDto.MainInfo"
                                 GoToMainInfoEditing="ChangePageStateToMainInfoEditing" />
        </div>
        <div class="test-cover-area">
            <label class="area-title">Test Cover</label>
            <TestCoverAreaContent Vm="new TestCoverAreaContentViewModel(TestDto.MainInfo.CoverImagePath,TestDto.MainInfo.Id, TestDto.Id)" />
        </div>
    </div>

    <QuestionsAreaContent EditQuestionAction="ChangePageStateToQuestionEditing" />

    <ResultsAreaContent ChangePageStateToResultsEditing="ChangePageStateToResultsEditing" />
    <ConclusionAreaContent AnyConclusionAdded="!(TestDto.ConclusionId is null)"
                           ChangePageStateToConclusionEditing="ChangePageStateToConclusionEditing" />
    <div class="styles-area">
        Change Test Styles(Optional)
        <button>Change</button>
    </div>
</div>

@code {
    [Parameter] public DraftGenericTestDto TestDto { get; set; }
    [Parameter] public Action ChangePageStateToMainInfoEditing { get; set; }
    [Parameter] public Action ChangePageStateToConclusionEditing { get; set; }
    [Parameter] public Action ChangePageStateToResultsEditing { get; set; }
    [Parameter] public Action<DraftTestQuestionId> ChangePageStateToQuestionEditing { get; set; }
}
