@using Vokimi.Components.Pages.TestsCreation.test_overview_components.overview_areas
@using Vokimi.Components.Pages.TestsCreation.test_overview_components.dialogs

@rendermode InteractiveServer


<div class="state-container">
    <div class="main-info-and-cover-section">
        <div class="main-info-area">
            <label class="area-title">Test Main Info</label>
            <MainInfoAreaContent GoToMainInfoEditing="ChangePageStateToMainInfoEditing" />
        </div>
        <div class="test-cover-area">
            <label class="area-title">Test Cover</label>
            <TestCoverAreaContent />
        </div>
    </div>

    <QuestionsAreaContent EditQuestionAction="ChangePageStateToQuestionEditing" />

    <ResultsAreaContent ChangePageStateToResultsEditing="ChangePageStateToResultsEditing" />
    <ConclusionAreaContent ChangePageStateToConclusionEditing="ChangePageStateToConclusionEditing" />

    <StylesEditingAreaContent ChangePageStateToStylesEditing="ChangePageStateToStylesEditing" />

    <div class="publish-test-btn" @onclick="ChangePageStateToPublishing">Publish test</div>

</div>
@code {

    [Parameter] public Action ChangePageStateToMainInfoEditing { get; set; }
    [Parameter] public Action ChangePageStateToConclusionEditing { get; set; }
    [Parameter] public Action ChangePageStateToResultsEditing { get; set; }
    [Parameter] public Action ChangePageStateToStylesEditing { get; set; }
    [Parameter] public Action ChangePageStateToPublishing { get; set; }
    [Parameter] public Action<DraftTestQuestionId> ChangePageStateToQuestionEditing { get; set; }

}
