<div class='template @(IsActive? "chosen-template" : "")' @onclick="OnClick">
    <div class="icon">
        <DynamicComponent Type="GetIconComponent(Template)" />
    </div>
    <label class="name">
        @GetTempalteName(Template)
    </label>
    <div class="features">
        @foreach (var f in Template.Features()) {
            <p>• @f</p>
        }
    </div>
</div>


@code {
    [Parameter]
    public TestTemplate Template { get; set; }
    [Parameter]
    public bool IsActive { get; set; }
    [Parameter]
    public Action OnClick { get; set; }

    public Type GetIconComponent(TestTemplate template) =>
        template switch {
            TestTemplate.Generic => typeof(template_icons.TestTemplateIconGeneric),
            TestTemplate.Knowledge => typeof(template_icons.TestTemplateIconKnowledge),
            _ => throw new ArgumentOutOfRangeException(nameof(template), template, null)
        };
    public string GetTempalteName(TestTemplate template) =>
       template switch {
           TestTemplate.Generic => "No Template",
           TestTemplate.Knowledge => "Knowledge Test",
           _ => throw new ArgumentOutOfRangeException(nameof(template), template, null)
       };
}
