.dialog-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 30px;
    width: 900px;
}

.server-message {
    font-family: "Roboto";
    font-size: 18px;
}


.close-btn {
    background-color: #ff4d4d;
    height: 40px;
    padding: 2px;
    aspect-ratio: 1/1;
    color: #fff;
}

    .close-btn svg {
        fill: white;
        height: 100%;
    }

    .close-btn:hover {
        background-color: #ff1a1a;
    }

.continue-btn {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--primary);
    color: var(--back);
    transition: background-color 0.3s, box-shadow 0.3s;
}

    .continue-btn:hover {
        background-color: var(--accent);
    }

    .continue-btn.continue-inactive {
        background-color: #6c757d !important;
        cursor: not-allowed;
    }
