
<BaseDialog DialogId="template-choosing-dialog" @ref="baseDialogRef">
    <div class="dialog-content">
        <label class="available-templates-label">
            Available templates
        </label>
        <div class="templates-container">
            @foreach (var template in Enum.GetValues(typeof(TestTemplate)).Cast<TestTemplate>()) {
                <TestTemplateChoosingComponent Template="template" OnClick="()=>{chosenTemplate=template; StateHasChanged();}" IsActive="chosenTemplate==template" />
            }
        </div>
        <p class="server-message">@serverMessage</p>
        <div class="bottom-btns-container">
            <button class="close-btn" @onclick="Close">Close</button>
            <button class='continue-btn @(templateChosen? "":"continue-inactive")' @onclick="()=> {if(templateChosen) OnSelected();}">Continue</button>
        </div>
    </div>

</BaseDialog>


@code {
    private BaseDialog baseDialogRef;
    private TestTemplate? chosenTemplate = null;
    private string serverMessage = string.Empty;

    private bool templateChosen =>
        chosenTemplate is not null;

    public async Task Open() {
        chosenTemplate = null;
        await baseDialogRef.OpenAsync();
    }

    private async Task Close() =>
            await baseDialogRef.CloseAsync();

    private void OnSelected() {
        if (!templateChosen) {
            serverMessage = "Choose a template";

        }
        else if (chosenTemplate != TestTemplate.None) {
            serverMessage = "This template is not implemented yet";
        }
        else {
            //create test in db, redirect ...
        }
    }
}

